@{
    ViewData["Title"] = "My Podcasts";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <h1 class="text-center mt-5"><a href="https://baconsale.com/" target="_blank">baconsale.com</a></h1>
</div>



